.hidden{
    display: none;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon{
    width: 25px;
}

.social-icon{
    width: 30px;
}

.channel-logo{
    width: 150px;
}

.button{
    width: fit-content;
    background-color: azure;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
}

.button-title{
    font-weight: bold;
    text-transform: uppercase;
}